.UpdateEmployee {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .UpdateEmployee h2 {
    margin-top: 0;
    font-weight: bold;
    color: #333;
  }
  
  .UpdateEmployee form {
    margin-bottom: 20px;
  }
  
  .UpdateEmployee label {
    display: block;
    margin-bottom: 10px;
  }
  
  .UpdateEmployee input[type="text"],
  .UpdateEmployee input[type="email"],
  .UpdateEmployee input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  
  .UpdateEmployee button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .UpdateEmployee button:hover {
    background-color: #3e8e41;
  }
  
  .UpdateEmployee .allocate-project,
  .UpdateEmployee .update-performance-score {
    margin-top: 20px;
  }
  
  .UpdateEmployee .allocate-project label,
  .UpdateEmployee .update-performance-score label {
    display: inline-block;
    margin-right: 10px;
  }